
.item-interactive {
  border-radius: 5px;
}

//container
._container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.form-layout {
  width: 300px;
  padding: 40px 10px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, .05);

  .form-layout_title {
    text-align: center;
    margin-bottom: 40px;

    .eyebrow {
      margin-bottom: 10px;
    }

    .brand {
      letter-spacing: 2px;
      font-weight: 700;
      font-size: 25px;
    }
  }

  form {
    ion-item {
      margin-bottom: 20px;
    }
  }

  @media all and (min-width: 375px) {
    width: 350px;
    padding: 40px 20px;
  }

  @media all and (min-width: 768px) {
    width: 470px;
    padding: 40px;
  }
}

//custom
._button {
  height: 50px;
  margin: 0 auto;
  position: relative;
  display: block;
  font-weight: 600;
}
