.info {
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, .05);
  padding: 20px;
  width: 300px;
  display: flex;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  flex-direction: column;

  .info--title {
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
  }

  .info-avatar {
    display: block;
    margin: 10px auto;
  }

  .info-button {
    display: block;
    margin: 10px auto;
  }

  .info--item {
    display: flex;
    flex-wrap: nowrap;
    height: 40px;
    line-height: 40px;

    .label {
      text-transform: capitalize;
      width: 120px;
      font-weight: 600;
    }
  }

  @media all and (min-width: 375px) {
    width: 350px;
  }

  @media all and (min-width: 768px) {
    width: 450px;
  }
}


.list {
  position: absolute;
  width: 300px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  .list--item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);

    .id, .name {
      display: flex;
      flex-direction: column;
    }

    .id {
      margin-bottom: 5px;
    }

    .label {
      width: 100px;
      font-weight: 600;
    }
  }

  @media all and (min-width: 375px) {
    width: 350px;
  }

  @media all and (min-width: 768px) {
    width: 450px;

    .list--item {

      .id, .name {
        display: flex;
        flex-direction: row;
      }
    }
  }
}

.info-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 10px 0;
}
